<ion-view>
    
    <ion-content class="padding">
        <form name="changePasswordForm" novalidate> 
            <div style="margin-top: 137px;">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Password :</b></span>
                    <input type="password" placeholder="password" ng-model="data.password" required>

                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Confirm Password :</b></span>
                    <input type="password" placeholder="confirm password" ng-model="data.repeatPassword" required>

                </label>
                <span style="color:red;" ng-show="data.password !== data.repeatPassword"><b>Password Mismatch</b></span>
            </div>
            <br />
            <button class="button button-positive" style="margin-left:63px;margin-top:21px;width:60%;" ng-disabled="changePasswordForm.$touched && data.password !== data.repeatPassword" ng-click="changePassword(data)">
                Change Password
            </button>
        </form>
    </ion-content>
</ion-view>