<ion-view>
    <div class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title"><strong> Hostel Details </strong></h1>
    </div>
    <ion-content style="margin-top: 44px;   margin-bottom: 48px;">

        <div style="margin-top: 8px; margin-left: 17px;">
            <div class="row">
                <div class="col" style="font-size:20px;">Fee Date</div>
                <div class="col" style="font-size:20px;">Amount</div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">13</div>
                <div class="col" style="padding-right:4px;">12345</div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">1245</div>
                <div class="col" style="padding-right:4px;">35666</div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">3456</div>
                <div class="col" style="padding-right:4px;">3556</div>
            </div>
            <div class="row">
                <div class="col" style="padding-right:4px;">546</div>
                <div class="col" style="padding-right:4px;">67669</div>
            </div>
        </div>
    </ion-content>
</ion-view>