<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">Parent</div>
    </ion-nav-title>
    <ion-content class="padding has-header">
        <div class="row">
            <a href="#/ParentGalleryGrid" class="col c-col col-33">
                <img class="c-icon" src="gallery.png" />
                <span class="c-heading">Photo Gallery</span>
            </a>
            <a href="#/view-feeDeatils" class="col c-col col-33">
                <img class="c-icon" src="fee2.png" />
                <span class="c-heading">Fee Details</span>
            </a>
            <a href="#/view-studentDetail" class="col c-col col-33">
                <img class="c-icon" src="student.png" />
                <span class="c-heading">Student Details</span>
            </a>
            
        </div>
        <div class="row">
            <a href="#/view-MessageBox" class="col c-col col-33">
                <img class="c-icon" src="message.png" />
                <span class="c-heading">Message Box</span>
            </a>
           
            <a href="#/view-holidays" class="col c-col col-33">
                <img class="c-icon" src="holiday.png" />
                <span class="c-heading">Holidays</span>
            </a>
            <a href="#/ParentDiaryReport" class="col c-col col-33">
                <img class="c-icon" src="curriculum.png" />
                <span class="c-heading">Diary Report</span>
            </a>
        </div>
        <div class="row">
            <a href="#/view-teacherDetail" class="col c-col col-33">
                <img class="c-icon" src="teacher.png" />
                <span class="c-heading">Teacher Details</span>
            </a>
            
        </div>
        <!--<div class="row">
            
            <a href="#/view-assesmentReport" class="col c-col col-33">
                <img class="c-icon" src="assesment.png" />
                <span class="c-heading">Assesment Report</span>
            </a>
            <a href="#/view-trackstudent" class="col c-col col-33">
                <img class="c-icon" src="trackstudent.png" />
                <span class="c-heading">Track Student</span>
            </a>
        </div>
        <div class="row">
           
            <a href="#/view-subject-details" class="col c-col col-33">
                <img class="c-icon" src="subject.png" />
                <span class="c-heading">Subjects</span>
            </a>
            <a href="#/view-HomeWork-Details" class="col c-col col-33">
                <img class="c-icon" src="homework.png" />
                <span class="c-heading">Homework Details</span>
            </a>
            <a href="#/view-TimeTable" class="col c-col col-33">
                <img class="c-icon" src="timetable.png" />
                <span class="c-heading">Time Table</span>
            </a>
            <a href="#/view-ExaminationDetails" class="col c-col col-33">
                <img class="c-icon" src="exam.png" />
                <span class="c-heading">Exam Details</span>
            </a>
        </div>-->
    </ion-content>
</ion-view>
<style>
    .c-icon {
        width: 60%;
        display: block;
        left: 20%;
        position: relative;
    }

    .c-heading {
        font-size: 12pt;
    }

    .c-col {
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        text-decoration: none;
        color: #525252;
    }

        .c-col.activated {
            background-color: #dadada;
        }
</style>
