<ion-view >
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline"> Employee Attendance</div>
    </ion-nav-title>
    <div class="bar bar-header bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title"><strong> BarCode Scanner </strong></h1>
    </div>
    <ion-content class="padding" style="margin-top: 52px;">
        <form name="BarCodeForm">
            <!--<button id="scan" ng-click="scanBarCode()" style="width:100px; height: 30px;">Scan</button>
            <button id="scan" ng-click="add()" style="width:100px; height: 30px;">Add</button>-->
            <button class="button button-block button-positive" ng-click="scanBarCode()">
                Scan
            </button>
            <div class="card">
                <div class="item item-divider">
                    Scanned Employees
                </div>
                <div class="list list-inset">
                    <div class="item" ng-repeat="es in scannedEmployees.Name">
                        {{es}}
                        <button style="float:right" class="button button-small button-assertive  pull-right" ng-click="DeleteCurrentRow($index)">Delete</button>

                    </div>
                    <div class="item" ng-show="scannedEmployees.Id.length == 0">
                        No Employee scanned yet
                    </div>
                </div>

            </div>
            <ion-list>
                <ion-radio ng-model="data.choice" name="PickDropRadio" ng-value="true">Check-In</ion-radio>
                <ion-radio ng-model="data.choice" name="PickDropRadio" ng-value="false" ng-required="!(data.choice)">Check-Out</ion-radio>
                <span style="color:red" ng-show="BarCodeForm.PickDropRadio.$error.required">You have to choose check-in or check-out</span>
            </ion-list>
            <button class="button button-block button-positive" ng-disabled="BarCodeForm.$invalid" ng-click="sendEmployeesTimings()">
                Submit Employees List
            </button>
        </form>
    </ion-content>
</ion-view>