
<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">  Employee Forget Password</div>
    </ion-nav-title>

    <ion-content class="padding">
        <form name="employeeForgetPasswordForm">
            <div style="margin-top: 170px;">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" name="Email" ng-model="data.email" placeholder="Email" required>
                    </label>
                    <label class="item item-input">
                        <input type="text" name="OrgName" ng-model="data.OrgName" placeholder="Organization Name" required>
                    </label>
                </div>
                <!--<label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Email :</b></span>
                    <input type="email" placeholder="Email" ng-model="data.email" name="Email" required>
                </label>-->
                <span ng-show="employeeForgetPasswordForm.Email.$error.required && employeeForgetPasswordForm.Email.$dirty" style="color:red;">
                    Email is required
                </span>
                <span ng-show="employeeForgetPasswordForm.Email.$touched && employeeForgetPasswordForm.Email.$invalid" style="color:red;">
                    Invalid Email
                </span>
                <br />
                <br />
                <button class="button button-positive" style="margin-left: 114px;margin-top: 0px; width: 104px;"
                        ng-disabled="employeeForgetPasswordForm.$invalid" ng-click="sendEmployeePassword(data)">
                    Send
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>