<ion-view>
    <ion-content>
        <ion-header-bar>
            <h1 class="title">GetForgottenPassword </h1>
        </ion-header-bar>
             <div class="list">
                <label class="item item-input" style="margin-top: 191px;">
                    <span class="input-label">OTP</span>
                    <input type="text" placeholder="Enter OTP Code">
                </label>
                <label class="item item-input">
                    <span class="input-label" >Password: </span>
                    <input type="password" name="Pass" ng-model="Pass" required>
                </label>
                 <label class="item item-input">
                     <span class="input-label">Confirm Password:</span>
                     <input type="password" name="confirmPass" ng-model="confirmPass" ng-disabled="confirmPass ===Pass" required>
                 
               </label>
                 <button class="button button-block button-positive" type="submit" style="width: 187px;border-radius: 15px;position: relative;left: 80px;top: 7px;background-color: green;" ngclick="goForHome()">
                     SEND
                 </button>
            </div>
    
        </ion-content>
</ion-view>