<ion-view>
    <div class="bar bar-header bar-positive" style="background-color:aliceblue;">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/templates/view-parent-home.html"></a>
        <h1 class="title"><strong>  Attendence Details </strong> </h1>
    </div>
    <ion-content style="margin-top: 44px;   margin-bottom: 48px;">

        <div class="list">
            <a class="item" href="#/view-feeDeatils">
                Monday
            </a>
            <a class="item" href="#/view-subject-details">
                Tuesday
            </a>
            <a class="item" href="#/view-attendence">
                Wednesday
            </a>
            <a class="item" href="#/view-transportFacility">
                Thursday
            </a>
            <a class="item" href="#/view-hostelDetails">
                friday
            </a>
            <a class="item" href="#/view-personalDetails">
                Saturday
            </a>
            <a class="item" href="#/view-HomeWork-Details">
                Sunday
            </a>
        </div>
    </ion-content>
</ion-view>