<ion-content style = "background-image:url(../../images/backgroundImg2.jpg)">
    <ion-list>
        
        <div class="bar bar-header">
            <button class="button icon ion-navicon"></button>
            <h1 class="title">Header Buttons</h1>
            <button class="button">
                <i class="icon ion-flag"></i>
            </button>
        </div><br><br>
           
      <!-- <div class="item item-button-right" style="bottom: -24px;">
            <b><i> Fee Details </i></b>
            <button class="button button-positive">
                <i class="icon ion-ios-bell"></i>
            </button>
        </div>

                <div class="item item-button-right" style="bottom: -33px;">
                   <b><i> Exams/Tests</i></b>
                    <button class="button button-positive">
                        <i class="icon ion-ios-book"></i>
                    </button>
                </div>
        <div class="item item-button-right" style="bottom: -42px;">
               <b><i> Activities </i></b>
            <button class="button button-positive">
                <i class="icon ion-ios-basketball"></i>
            </button>
        </div>
        <div class="item item-button-right" style="bottom: -50px;">
            <b><i> Holidays</i></b>
            <button class="button button-positive">
                <i class="icon ion-happy-outline"></i>
            </button>
        </div>
        <div class="item item-button-right" style="bottom: -57px;">
            <b><i> Teachers-Parents Forum</i></b>
            <button class="button button-positive">
                <i class="icon ion-ios-people"></i>
            </button>
        </div>
        <div class="item item-button-right" style="bottom: -68px;">
               <b><i>Assignments</i></b>
            <button class="button button-positive">
                <i class="icon ion-android-checkbox-outline"></i>
            </button>
        </div>-->
        <div style="position: relative;left: 60px;top: 33px;">
            <button class="button  button-positive" style="position: relative; width: 127px; height: 119px; top: 8px; bottom: 6px; left: -40px; margin-left: 7px; background-color: darkslategrey;"><img src="../../images/Money-bag-with-Rupees-dollars2013827.JPG" style="width: 113px;
    height: 74px;"> FeeDetails</button>
            <button class="button  button-positive" style="position: relative;width: 130px;height: 118px; top:  12px; bottom : 6px;left : -1px;margin-left : 7px;background-color: black ;color: white;"><img src="../../images/images.jpg" style="width: 116px; height: 71px;"> TestDetails</button>
        </div>
        <div style="position: relative;left: 60px;top: 60px;">
            <button class="button  button-positive" style="position: relative; width: 131px; height: 116px; top:  38px; bottom: 6px; left: -36px; margin-left: 5px; background-color: brown;"><img src="../../images/download.jpg" style="width: 116px; height: 71px;"> Activities</button>
            <button class="button  button-positive" style="position: relative; width: 131px; height: 119px; top:  37px; bottom: 6px; left: -3px; margin-left: 7px; color: darkblue; background-color: darksalmon;"><img src="../../images/images (6).jpg" style="width : 116px ; height: 71px;"> Holidays</button>
        </div>
        <div style="position: relative;top: 103px;">
            <button class="button  button-positive" style="position: relative; width: 131px; height: 120px; top:  45px; bottom: 6px; left: 25px; margin-left: 7px; color: floralwhite; background-color: darkolivegreen;"><img src="../../images/images (11).jpg" style="width: 116px; height: 71px;">Parentforum</button>
            <button class="button  button-positive" style="position: relative; width: 131px;  height: 120px; top:  47px; bottom: 6px; left: 47px; margin-left: 7px; color: darkturquoise; background-color: blueviolet;"><img src="../../images/images (13).jpg" style="width: 116px; height: 71px;"> Assignments</button>
        </div>     
         
        
    </ion-list>
</ion-content>